.big-title {
    font-size: 50px;  /* Adjust the size as needed */
    font-weight: bold; /* Makes the text bold */
    color: #6e2121;       /* Optional: Change text color */
    text-align: center;


}
.fileinput{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100vh;           /* Full height of viewport */
    margin: 0;
}   
body {
    background-image: url('wildwestbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.title {
    font-size: 50px;            /* Adjust as needed */
    font-weight: bold;          /* Makes the text bold */
    color: maroon;              /* Maroon text color */
    text-align: center;         /* Center the title */
    text-shadow: 
        -2px -2px 0 white,      /* White shadow to the top left */
        2px -2px 0 white,       /* White shadow to the top right */
        -2px 2px 0 white,       /* White shadow to the bottom left */
        2px 2px 0 white;        /* White shadow to the bottom right */
}   